source http://www.nuget.org/api/v2/
framework: >= net45

nuget System.Reactive
nuget System.Reactive.Linq
nuget System.Reactive.PlatformServices

nuget Gu.Wpf.ToolTips

nuget StyleCop.Analyzers
nuget JetBrains.Annotations

group Test
  source http://nuget.org/api/v2
  framework: >= net45
  nuget Moq
  nuget NUnit
  nuget Microsoft.Reactive.Testing
  nuget System.Reflection.Metadata = 1.2.0
  nuget BenchmarkDotNet
  nuget BenchmarkDotNet.Diagnostics.Windows