source http://www.nuget.org/api/v2/
framework: >= net45

nuget System.Reactive
nuget Gu.Wpf.ToolTips

group Analyzers
  source http://nuget.org/api/v2
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget Gu.Analyzers
  nuget JetBrains.Annotations

group Test
  source http://nuget.org/api/v2
  framework: >= net45
  nuget Moq
  nuget NUnit
  nuget Microsoft.Reactive.Testing
  nuget FlaUI.UIA3

group Roslyn
  source http://nuget.org/api/v2
  nuget Microsoft.CodeAnalysis.CSharp

group Benchmark
  source http://nuget.org/api/v2
  framework:  net461
  nuget BenchmarkDotNet.Diagnostics.Windows