type project
tags reactive rx notifypropertychanged
projectUrl https://github.com/JohanLarsson/Gu.Reactive
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
