type project
tags reactive rx notifypropertychanged
projectUrl https://github.com/JohanLarsson/Gu.Reactive
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  BUGFIX: Don't use PropertyInfoComparer.

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
  WpfAnalyzers
  Gu.Analyzers
